<html>

<head>
  <title>signUp Authority</title>
</head>

<body>
  <div class="containerSign">
    <div class="signContent ">
      <div class="card border-danger p-5" style="max-width: 800px;">
        <p>Sign Up for Authority</p>
        <div class="row g-3">
          <div class="col-md-4">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="col-md-4">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="col-md-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="col-md-4">
            <label for="tax" class="form-label">Tax registration number</label>
            <input type="text" class="form-control" id="tax">
          </div>
          <div class="col-4">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St">
          </div>
          <div class="col-4">
            <label for="city" class="form-label">City</label>
            <select id="city" class="form-select">
              <option selected>cairo</option>
              <option>Aswan</option>
              <option>Luxor</option>
              <option>Alexandria</option>
              <option>Sharm El Sheikh</option>
              <option>Giza</option>
              <option>Port Said</option>
              <option>Suez</option>
              <option>Al Fayyum</option>
            </select>
          </div>
          <label for="" class="form-label mb-0">Working Hours</label>
          <div class="col-md-6">
            <label for="wHourf" class="form-label">From</label>
            <input type="time" class="form-control" id="wHourf">
          </div>
          <div class="col-md-6">
            <label for="wHourt" class="form-label"> To</label>
            <input type="time" class="form-control" id="wHourt">
          </div>
          <label for="" class="form-label mb-0">Donate/Accepte Time</label>
          <div class="col-md-6">
            <label for="dTimeF" class="form-label">From</label>
            <input type="time" class="form-control" id="dTimeF">
          </div>
          <div class="col-md-6">
            <label for="dTimeT" class="form-label">To</label>
            <input type="time" class="form-control" id="dTimeT">
          </div>
          <div class="col-md-6">
            <label for="tBags" class="form-label">Number of total bags:</label>
            <input type="number" class="form-control" id="tBags">
          </div>
          <div class="col-md-6">
            <label for="nBags" class="form-label">Number of neaded bags:</label>
            <input type="number" class="form-control" id="nBags">
          </div>

          <label for="" class="form-label mb-0">A+</label>
          <div class="col-md-6">
            <label for="APEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="APEBags">
          </div>
          <div class="col-md-6">
            <label for="APNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="APNBags">
          </div>

          <label for="" class="form-label mb-0">A-</label>
          <div class="col-md-6">
            <label for="ANEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="ANEBags">
          </div>
          <div class="col-md-6">
            <label for="ANNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="ANNBags">
          </div>

          <label for="" class="form-label mb-0">B+</label>
          <div class="col-md-6">
            <label for="BPEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="BPEBags">
          </div>
          <div class="col-md-6">
            <label for="BPNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="BPNBags">
          </div>

          <label for="" class="form-label mb-0">B-</label>
          <div class="col-md-6">
            <label for="BNEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="BNEBags">
          </div>
          <div class="col-md-6">
            <label for="BNNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="BNNBags">
          </div>

          <label for="" class="form-label mb-0">AB+</label>
          <div class="col-md-6">
            <label for="ABPEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="ABPEBags">
          </div>
          <div class="col-md-6">
            <label for="ABPNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="ABPNBags">
          </div>

          <label for="" class="form-label mb-0">AB-</label>
          <div class="col-md-6">
            <label for="ABNEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="ABNEBags">
          </div>
          <div class="col-md-6">
            <label for="ABNNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="ABNNBags">
          </div>
          
          <label for="" class="form-label mb-0">O+</label>
          <div class="col-md-6">
            <label for="OPEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="OPEBags">
          </div>
          <div class="col-md-6">
            <label for="OPNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="OPNBags">
          </div>

          <label for="" class="form-label mb-0">O-</label>
          <div class="col-md-6">
            <label for="ONEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="ONEBags">
          </div>
          <div class="col-md-6">
            <label for="ONNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="ONNBags">
          </div>

          <div class="col-12">
            <button (click)="NEXT()" type="submit" class="btn btn-danger" style="max-width: 100px;" id="btnSubmit">Submit</button>
          </div>
          <button type="button" class="btn btn-link btn-go" routerLink="/signInI" routerLinkActive="active">sign in for individual</button>
          <button type="button" class="btn btn-link btn-go" routerLink="/signUpI" routerLinkActive="active">sign up for individual</button>
        </div>
      </div>
    </div>
  </div>


</body>

</html>






<!-- <html>

<head>
  <title>signUp Authority</title>
</head>

<body>
  <div class="containerSign">
    <div class="signContent ">
      <div class="card border-danger p-5" style="max-width: 600px;">
        <p>Sign Up for Authority</p>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="col-md-6">
            <label for="tax" class="form-label">Tax registration number</label>
            <input type="text" class="form-control" id="tax">
          </div>
          <div class="col-8">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St">
          </div>
          <div class="col-4">
            <label for="city" class="form-label">City</label>
            <select id="city" class="form-select">
              <option selected>cairo</option>
              <option>Aswan</option>
              <option>Luxor</option>
              <option>Alexandria</option>
              <option>Sharm El Sheikh</option>
              <option>Giza</option>
              <option>Port Said</option>
              <option>Suez</option>
              <option>Al Fayyum</option>
            </select>
          </div>
          <label for="" class="form-label mb-0">Working Hours</label>
          <div class="col-md-6">
            <label for="wHourf" class="form-label">From</label>
            <input type="time" class="form-control" id="wHourf">
          </div>
          <div class="col-md-6">
            <label for="wHourt" class="form-label"> To</label>
            <input type="time" class="form-control" id="wHourt">
          </div>
          <label for="" class="form-label mb-0">Donate/Accepte Time</label>
          <div class="col-md-6">
            <label for="dTimeF" class="form-label">From</label>
            <input type="time" class="form-control" id="dTimeF">
          </div>
          <div class="col-md-6">
            <label for="dTimeT" class="form-label">To</label>
            <input type="time" class="form-control" id="dTimeT">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-danger" style="max-width: 100px;" id="btnSubmit">Submit</button>
          </div>
          <button type="button" class="btn btn-link btn-go" routerLink="/signInA" routerLinkActive="active">Do not have an account yet?</button>
          <button type="button" class="btn btn-link btn-go" routerLink="/signInI" routerLinkActive="active">sign in for individual</button>
          <button type="button" class="btn btn-link btn-go" routerLink="/signUpI" routerLinkActive="active">sign up for individual</button>
        </div>
      </div>
    </div>
  </div>


</body>

</html> -->



<!-- <html>

<head>
    <title>signUp Authority</title>
</head>

<body>
    <div class="sign-up-A ">
        <form>
            <legend class="title">Sign Up</legend>
            <div>
                <label class="l" for="name">Name</label>
                <input v-model = "name" type="name" class="form-control" autofocus="autofocus" placeholder="type here" id="name"><br>

                <label class="l" for="email">E-mail</label>
                <input v-model = "email" type="email" class="form-control" autofocus="autofocus" placeholder="type here" id="email"><br>
                
                <label class="l" for="password">Password</label>
                <input v-model = "password" type="password" class="form-control" autofocus="autofocus" placeholder="type here" id="password"><br>

                <label  class="l" for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St">

                <label for="city" class="l">City</label>
                <select id="city" class="form-label">
                    <option selected>cairo</option>
                    <option>Aswan</option>
                    <option>Luxor</option>
                    <option>Alexandria</option>
                    <option>Sharm El Sheikh</option>
                    <option>Giza</option>
                    <option>Port Said</option>
                    <option>Al Suez</option>
                    <option>Al Fayoum</option>
                </select>

                <label for="hours"class="l">Working Hours</label>
                <label for="wHourf" class="l">From</label>
                <input type="time" class="form-control" id="wHourf">
                <label for="wHourt" class="l"> To</label>
                <input type="time" class="form-control" id="wHourt">
                <label for=""class="l">Donate/Accept Time</label>
                <label for="dTimeF" class="l">From</label>
                <input type="time" class="form-control" id="dTimeF">
                <label for="dTimeT" class="l">To</label>
                <input type="time" class="form-control" id="dTimeT">
                <button type="submit" (click) = 'NEXT()'>Submit</button>
            </div>
        </form>
    </div>

</body>
</html>


<style scoped>
    * {
      margin: 0;
      padding: 0;
      font-size: 18px;
    }
  
    body {
      background-image: url("../blood.jpg");
      background-repeat: no-repeat;
      background-attachment: absolute;
      background-size: 40% 100%;
      background-position: right;
      height: 300px;
    }

    .title{
        background-color: white;
        border-color: #701010;
        border-style: solid;
        padding: 20px 60px;
        margin-left: 30%;
        margin-top: -27%;
        color: #701010;
        width: 200px;
        height: 70px;
        text-align: center;
        font-size: 50PX;
      }
  
      .sign-up-A{
      margin: 250px;
      display: flex;
      flex-direction: column;
    }
  
    .sign-up-A .l{
      background-color: #701010;
      display: inline-block;
      padding: 8px 8px;
      margin: 10px;
      font-size: 20px;
      color: #fff;
      width: 130px;
      text-align: center;
    }
    
    input[type="checkbox"] {
      margin-right: 10px;
    }
  
    input {
      height: 25px;
      background-color: white;
      font-size: 15px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid #701010;
      border-radius: 4px;
    }
  
    button{
      width: 90px;
      height: 45px;
      margin-left: 700px;
      margin-top: 20px;
      border: solid #701010 2px;
      border-radius: 5px;
      background-color: #701010;
      color: white;
      font-size: 20px;
      outline: none;
      cursor:pointer;
      display: block;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
  
    button:hover {
        background-color: #701010
      /* transition-duration: 0.4s;
      color: #701010;
      background-color: white; */
    }
    button:active {
        background-color: #701010;
        box-shadow: 0 5px #666;
         transform: translateY(4px);
}
    
    </style> -->